@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&display=swap");

:root {
  --primary: rgb(255, 102, 159);
  --secondary: rgba(76, 88, 140, 1);
  --tertiary: #2f334c;
  --ftncolor: #fafafa;
  --fntsize: 06em;
  --pantalla: 850px;
  --pantallaY: 400px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(255, 102, 159);
  background: linear-gradient(
    156deg,
    rgba(255, 102, 159, 1) 50%,
    rgba(76, 88, 140, 1) 50%
  );
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--ftncolor);
}
/* ************************************************** */
.container {
  position: relative;
  max-width: var(--pantalla);
  width: 100%;
  height: 550px;
  background-color: var(--tertiary);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
/* ************************************************** */
header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
}

.header__logo {
  display: flex;
  align-items: center;
  width: 22vw;
  height: 100%;
}

.img__logo {
  background: #000;
  width: 50px;
  height: 50px;
  min-width: 50px;
  border-radius: 50%;
  margin: 0.5vw;
}

.header__logo h3 {
  font-size: 1em;
}

.header__list {
  width: 100%;
  margin: 10px;
}

.header__list ul {
  display: flex;
  justify-content: end;
  margin-right: 15px;
}

.header__list ul li {
  list-style: none;
  margin: 2%;
  padding: 5px 10px;
  border-radius: 22px;
  cursor: pointer;
}

.header__list ul li:hover {
  background: #ffffff71;
  transform: scale(1.1);
  transition: 1s;
}

.header__list a {
  list-style: none;
  text-decoration: white;
  color: white;
}
/* ************************************************** */

main {
  display: flex;
  gap: 20px;
  overflow: hidden;
  max-width: var(--pantalla);
  height: 80%;
  width: 100%;
}

.container__main {
  display: flex;
  align-items: center;
  gap: 8px;
  min-width: 100%;
  max-width: var(--pantalla);
  margin: 20px auto;
  padding: 12px;
}

/* ************************************************** */

.box__main {
  width: 50%;
  text-align: center;
}
.box__main h1 {
  padding: 20px;
}
.btn_turno {
  padding: 10px;
  margin: 3em;
  border-radius: 22px;
  cursor: pointer;
  transition: 0.3s;
  background: var(--primary);
  color: var(--ftncolor);
}

.btn_turno a {
  text-decoration: none;
  color: var(--ftncolor);
  font-size: 1.7em;
}

.btn_turno:hover {
  background: var(--secondary);
  text-decoration: underline;
  transition: 1s;
  transform: scale(1.1);
}

.img__main {
  width: 50%;
  height: 100%;
  background: url(../imgs/imgDentist.png);
  background-blend-mode: color;
  background-position: 90%;
}

/* ************************************************** */
.container__acerca {
  display: none;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  min-width: 100%;
  max-width: var(--pantalla);
  margin: 20px auto;
  padding: 12px;
}

.container__acerca h2 {
  width: 100%;
  text-align: center;
  padding: 20px;
  font-size: 2em;
}

.container__acerca p {
  padding: 0 50px;
  height: 90%;
}

/* ************************************************** */

.container__servicios {
  display: none;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin: 20px auto;
  overflow-y: scroll;
  min-width: 100%;
  max-width: var(--pantalla);
}

.container__servicios h2 {
  width: 100%;
  text-align: center;
  padding: 20px;
  font-size: 2em;
}

.card {
  width: 230px;
  height: 300px;
  padding: 10px;
  border: solid white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.card div {
  margin: auto;
}

.card img {
  display: flex;
  margin: auto;
  width: 100px;
  border-radius: 12px;
}

/* ************************************************** */

.foot img {
  position: absolute;
  right: 15px;
  bottom: 15px;
  cursor: pointer;
}

/* ************************************************** */

@media (max-width: 860px) {
  :root {
    --pantalla: 650px;
  }

  .container {
    border-style: none;
  }
  .container__acerca {
    overflow-y: scroll;
  }
}

/* ************************************************** */

@media (max-width: 660px) {
  :root {
    --pantalla: 100vw;
  }

  /* ************************************************** */

  .header__list {
    position: absolute;
    top: 60px;
  }

  .header__list ul {
    flex-direction: column;
    align-items: center;
    background-color: #2f334c;
    transform: translateX(-100%);
    transition: 0.3s;
  }

  .header__list ul li:hover {
    width: 100%;
    text-align: center;
  }

  .btn_turno a {
    font-size: 1.5em;
  }

  .header_toggle {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: 15px;
  }

  .header_toggle span {
    width: 30px;
    height: 4px;
    background-color: #fafafa;
    margin-bottom: 5px;
    border-radius: 2px;
    transform-origin: 5px 0px;
    transition: 0.3s;
  }

  .close span {
    transform: rotate(45deg) translate(0px, 0px);
  }

  .close span:nth-child(2) {
    display: none;
  }

  .close span:nth-child(3) {
    transform: rotate(-45deg) translate(-5px, 1px);
  }

  .open {
    transform: translateX(0) !important;
  }

  .img__main {
    display: none;
  }

  .container {
    height: 100vh;
    overflow: hidden;
  }
  .container__main,
  .container__acerca {
    height: 80vh;
    width: 100vw;
    box-shadow: none;
  }

  .container__main {
    background: url(../imgs/imgDentist.png);
    background-repeat: no-repeat;
    background-position: 30%;
    height: calc(100vh - 60px);
  }

  .container__main h3 {
    font-size: 1em;
  }

  .container__acerca p {
    height: 100%;
  }
  .btn_turno {
    width: 200px;
    margin: 50px 0;
  }

  .foot img {
    bottom: 20%;
  }
}

@media (max-width: 375px) {
  .btn_turno a {
    font-size: 0.9em;
  }
  .btn_turno {
    width: 150px;
  }

  .foot img {
    bottom: 10%;
  }

  .container__acerca p {
    overflow-y: scroll;
    padding: 15px;
    height: 100%;
  }
  .container__acerca h2 {
    padding: 0;
  }
  .container__servicios,
  main {
    min-height: calc(100vh - 80px);
  }
}

@media (max-height: 360px) {
  .container {
    height: 100vh;
  }

  .btn_turno {
    font-size: 0.5em;
  }

  .container__servicios {
    height: 245px;
  }
}
